<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BoardProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/user/*</url-pattern>
      <url-pattern>/news/*</url-pattern>
      <url-pattern>/snap/*</url-pattern>
      <url-pattern>/free_board/*</url-pattern>
      <url-pattern>/notice/*</url-pattern>
      <url-pattern>/FAQ/*</url-pattern>
      <url-pattern>/member/memberUpdate.jsp</url-pattern>
      <url-pattern>/member/memberList.jsp</url-pattern>
      <url-pattern>/main.jsp</url-pattern>
      <include-prelude>/module/menuBar.jsp</include-prelude>
      <include-coda>/module/footer.jsp</include-coda>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>/admin/*</url-pattern>
      <include-prelude>/module/admin_menuBar.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>